@model OrderViewModel

<Form enctype="multipart/form-data">
    <div class="form-group">
        <label class="control-label">Name</label>
        <input type="text" asp-for="Name" />
    </div>
    <button asp-action="Add" asp-controller="Order"></button>
</Form>